.inputBox {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.inputBox label {
    font-size: 13px;
    font-weight: 600;
    color: dodgerblue;
}

.inputBox input,
.inputBox textarea,
.inputBox select {
    padding: 8px;
    background-color: #e3e3e3;
    border: none;
    border-radius: 4px;
    outline: none;
    width: fit-content;
}

.btn {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: limegreen;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    filter: brightness(.9);
}