@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(produtos.css);
@import url(formulario.css);

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

header {
    grid-column: span 2; 
    background-color: cadetblue;
    color: white;
    /* padding: 15px; */
    text-align: center;
}

aside {
    background-color: aliceblue;
    color: white;
    padding: 20px;
    height: 100%;
}

/* Conteúdo principal */
main {
    padding: 20px;
    background-color: #f0f0f0;
}

main h1 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 400;
    color: darkslategray;
}

footer {
    grid-column: span 2;
    background-color: grey;
    color: white;
    text-align: center;
    padding: 15px;
}



/* ====== SIDEBAR =====*/

aside nav {
    position: sticky;
    top: 20px;
}

aside nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: steelblue;
}

aside nav li {
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: .3s;
    padding-left: 8px;
    cursor: pointer;
}

aside nav li:hover {
    background-color: rgb(197, 228, 255);
}
aside nav li.active {
    background-color: rgb(197, 228, 255);
    border-radius: 5px 50px 50px 5px;
}

aside nav a {
    text-decoration: none;
    color: steelblue;
    /* background-color: red; */
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 5px;
}




/* TABELA */
table {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

#table-categoria {
    width: fit-content;
}

table tbody tr {
    background-color: white;
}

table tbody td {
    padding: 10px 5px;
    font-size: 14px;
}

table tbody td:first-child {
    padding-left: 10px;
}
table tbody td:last-child {
    padding-right: 10px;
}

table thead th {
    font-weight: 700;
    color: darkslategray;
    font-size: 13px;
    padding-right: 20px;
}


/* table tbody tr:nth-child(even) {
    background-color: #f0f0f0;
} */


table tbody td:last-child {
    /* background-color: red; */
    display: flex;
    gap: 10px;
}


table tbody td:last-child form button{
    padding: 4px 8px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 2px;
    cursor: pointer;
}

table tbody td:last-child form button:hover{
    filter: brightness(.9);
}


.toast {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    z-index: 1000;
    transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 5px;
}

.toast i {
    color: limegreen;
    font-size: 20px
}

.toast.sucesso i {
    color: limegreen;
}

.toast.sucesso {
    border-left: 6px solid limegreen;
    border-right: 6px solid limegreen;
}

.toast.erro i {
    color: orangered;
}

.toast.erro {
    border-left: 6px solid orangered;
}

.btn-criar button {
    padding: 8px 30px;
    border: none;
    border-radius: 50px;
    background-color: lawngreen;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: darkslategray;
    font-weight: 600;
    cursor: pointer;
}

.btn-criar button:hover {
    filter: brightness(.9);
}